.container {
    border-radius: 15px;
    width: 200px;
    height: 100px;
    background-color: cyan;
    color: black;
    margin: 10px;
    display: flex;
}
.text{
    display: flex;
    align-items: center;
}
.imageContainer{
    width: 30%;
    margin: auto 10px;
}
.image{
    width: 100%;
}